/.cursor/
/.tools/
/.vscode/

**/.git/
**/.vs/
**/.idea/
**/build/
**/bin/
**/out/
**/cmake-build-*/
**/vcpkg/
**/vcpkg_installed/
**/downloads/
**/packages/
**/Debug/
**/Release/
**/x64/
**/x86/
**/*.obj
**/*.pdb
**/*.lib
**/*.dll
**/*.exe
**/*.ilk
**/*.ipdb
**/*.iobj
**/*.log
easytier-windows-x86_64/
